#profile_update-form .form-control {
    color: #999;
}

#profile-update-form input::placeholder {
    color: #999;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #999;
}

#id_default_country option:first-child {
    color: #999;
}