html {
    height: 100%;
}

body {
    background: url('/media/background-image-happy-home-plants.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Didact Gothic', sans-serif;


}
.b-darkgreen {
    background-color: #669966;
}
.b-green {
    background-color: #99CC99;
}
.b-grey{
    background-color: #999;
}
.b-yellow{
    background-color: #FFCC00;
}

.text-darkgreen {
    color: #669966;
}

.text-grey{
    color: #999;
}
.category-badge :hover{
    background-color: #999;
    color: #99cc99;
}

.btt-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-green {
    background: #669966;
    color: white;
}

.btn-outline-green {
    background: white;
    color: #669966;
    border: 1px solid black;
}

.align-right{
    float: right;
}

.basket-overlay{
    height: 75%;
    width: 50%;
    top: 20%;
    left: 25%;
    margin-bottom: 10%;
    position: fixed;
    background: white;
    z-index: -1;
}

.checkout-container {
    margin-top: 3%;
    margin-bottom: 10%;
    overflow-x: scroll;
    max-height: 80%;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-green {
    border: 1px solid #669966 !important;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999;
}

.basket-notification-wrapper {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}