<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="plants-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Plants
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plants-link">
                <a href="" class="dropdown-item">Pet-friendly Plants</a>
                <a href="" class="dropdown-item">Easy-care Plants</a>
                <a href="" class="dropdown-item">Hanging Plants</a>
                <a href="" class="dropdown-item">Large Plants</a>
                <a href="" class="dropdown-item">All Plants</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="pots-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pots
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pots-link">
                <a href="" class="dropdown-item">Small Pots</a>
                <a href="" class="dropdown-item">Medium Pots</a>
                <a href="" class="dropdown-item">Large Pots</a>
                <a href="" class="dropdown-item">All Pots</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="sale-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sale
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Plants</a>
                <a href="" class="dropdown-item">Pots</a>
                <a href="" class="dropdown-item">All Sale</a>
            </div>
        </li>
    </ul>
</div>